# Intel Arc A770 Limited Edition
# copy to /etc/udev/rules.d
# sudo udevadm control --reload
# sudo udevadm trigger
SUBSYSTEMS=="hidraw", ATTRS{idVendor}=="2516", ATTRS{idProduct}=="01b5", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{idVendor}=="2516", ATTRS{idProduct}=="01b5", MODE="0666"
