# Intel Arc A770 Limited Edition
SUBSYSTEMS=="usb|hidraw", ATTRS{idVendor}=="2516", ATTRS{idProduct}=="01b5", TAG+="uaccess", TAG+="Intel_Arc_A770_Limited_Edition"
